html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font-family: 'PingFang TC', 'SF Pro Text', 'Microsoft JhengHei', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after {
	box-sizing: border-box;
}
img {
	vertical-align: top;
}
.container {
	width: 1200px;
}
.m0-a {
	margin: 0 auto;
}
h1 {
	font-size: 80px;
	padding-bottom: 24px;
	border-bottom: 2px solid #000;
}
.profile img {
	margin-top: 48px;
	margin-bottom: 48px;
}
h2 {
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 8px;
	border-bottom: 1px solid #000;
}
ul li {
	font-size: 24px;
}
.fsz-24 {
	font-size: 24px;
}
.pl-16 {
	padding-left: 16px;
}
.color-r {
	color: #A00404;
}
.color-w {
	color: #ffffff;
}
.mb-64 {
	margin-bottom: 64px;
}
.mt-16 {
	margin-top: 16px;
}
.mt-8 {
	margin-top: 8px;
}
.mb-24 {
	margin-bottom: 24px;
}
.education li:last-child,.profile li:last-child  {
	margin-top: 16px;
}
.w-996 {
	width: 996px;
	padding-top: 24px;
	padding-bottom: 40px;
}
.skills h2 {
	border-bottom: 1px solid #ffff;
	text-align: center;
}
.bg-b {
	background-color: #415165;
}
.skills ul {
	display: table;
	margin: 0 auto;
	border-left: 1px solid #fff;
	margin-top: 40px;
}
.mb-8 {
	margin-bottom: 8px;
}
h3 {
	font-size: 24px;
}
.ml-24 {
	margin-left: 24px;
}
.work ul {
	border-left: 1px solid #96A9C4;
}
.pl-24 {
	padding-left: 24px;
}
.mb-80 {
	margin-bottom: 80px;
}
footer h2 {
	border-bottom: 1px solid #ffff;
	text-align: center;
}
footer ul {
	text-align: center;
}
footer ul a {
	color: #fff;
	display: block;
	text-decoration: none;
}
p {
	font-size: 20px;
}
